body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.marker {
  stroke: #23ffff;
  transform: translate(-50%, -100%);
}

.marker-2 {
  stroke: #ff0000;
  transform: translate(-50%, -100%);
}

.popup {
  width: 40vw;
  font-size: 1.4rem;
  padding: 1rem;
 } 

.popup img {
  height:200px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.formButton {
  border: 1px solid transparent ;
  width: 100%;
  padding: 1rem; 
  display: block;
}

.formButton:hover {
  border: 1px solid teal;
  width: 100%;
  padding: 1rem; 
}

.entry-form label, .entry-form input, .entry-form textarea{
  margin: 0.5rem 0rem;
  display: block;
  width: 100%;
}

.error {
  color: orangered;
}